#scene-container {
  /* Have container use full html page */
  position: absolute;
  width: 100%;
  height: 100%;

  /* Always set background color to be the same as the Three.js to prevent a flash of a different background color */
  background-color: black;
}